<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Словоборг</title>
</head>
<body>
    <div class="section">
        <div th:replace="fragments/auth_header :: auth-header">Auth info should be here</div>
    </div>

    <div class="section">
        <div class="container is-max-desktop">
            <article class="media" th:each="def : ${definitionList}">
                <div class="media-content">
                    <form method="post" th:action="@{/admin}">
                        <p th:text="${def.word.word}" class="title">word</p>
                        <p th:text="${def.definition}" class="block">definition</p>
                        <p th:text="${def.example}" class="block">example</p>
                        <p th:text="'Submitted by '+${def.author.name}+' on '+${def.submittedOn}" class="block"></p>
                        <input type="hidden" name="id" th:value="${def.id}">
                        <button type="submit" class="button is-success">Approve</button>
                    </form>
                </div>
            </article>
        </div>
    </div>
</body>
</html>