<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/8e39db22e0.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/opinion.js}"></script>
    <title>Словоборг</title>
</head>
<body>
    <div class="section">
        <div th:replace="fragments/auth_header :: auth-header">Auth info should be here</div>
    </div>

    <div class="section">
        <div class="container is-max-desktop">
            <article th:each="def : ${definitionDtoList}" class="media">
                <div class="media-content">
                    <p class="title">
                    <a th:href="@{/word(id=${def.word.id})}" th:text="${def.word.word}">word</a>
                    </p>
                    <p th:text="${def.definition}" class="block">definition</p>
                    <p class="block"><em th:text="${def.example}">example</em></p>
                    <p th:text="'Submitted by '+${def.submittedBy}+' on '+${def.submittedOn}" class="block">submitted by author_name on some_date</p>
                    <div class="buttons">
                        <button class="button is-small is-rounded" th:classappend="${def.liked} ? 'is-info' : ''" th:id="'like_btn_'+${def.id}" th:onclick="'postOpinion({definitionId:'+${def.id}+',opinion:1})'">
                            <span class="icon">
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            <span th:id="'likes_cnt_'+${def.id}" th:text="${def.likes}">likes count here</span>
                        </button>
                        <button class="button is-small is-rounded" th:classappend="${def.disliked} ? 'is-info' : ''" th:id="'dislike_btn_'+${def.id}" th:onclick="'postOpinion({definitionId:'+${def.id}+',opinion:-1})'">
                            <span class="icon">
                                <i class="far fa-thumbs-down"></i>
                            </span>
                            <span th:id="'dislikes_cnt_'+${def.id}" th:text="${def.dislikes}">dislikes count here</span>
                        </button>
                    </div>
                </div>
            </article>

            <form sec:authorize="isAuthenticated()" method="post" th:action="@{/definition}">
                <label for="word">Word:</label><br>
                <input id="word" type="text" name="word.word" th:value="${wordValue}"><br>

                <label for="definition">Definition:</label><br>
                <input id="definition" type="text" name="definition"><br>

                <label for="example">Example:</label><br>
                <input id="example" type="text" name="example"><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>