<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/8e39db22e0.js" crossorigin="anonymous"></script>
    <title>Словоборг</title>
</head>
<body>
    <div class="section">
        <div class="container is-max-desktop">
            <form method="post" th:action="@{/login}">
                <div class="field">
                    <label class="label" th:text="#{loginForm.userName}">Username</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="username" th:placeholder="#{loginForm.userName}" autofocus>
                        <span class="icon is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:text="#{loginForm.password}">Password</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" th:placeholder="#{loginForm.password}">
                        <span class="icon is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit" th:text="#{loginForm.login}">Log in</button>
                    </div>
                </div>

                <div class="field">
                    <label class="label" th:text="#{loginForm.dontHave}">Don't have an account?</label>
                    <div class="control">
                        <a class="button is-primary is-light" th:href="@{/register}" th:text="#{loginForm.register}">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>