<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Словоборг</title>
</head>
<body>
    <form method="post" th:action="@{/register}">
        <label for="username">Username:</label><br>
        <input id="username" type="text" name="username"><br>

        <label for="email">Email:</label><br>
        <input id="email" type="text" name="email"><br>

        <label for="password">Password:</label><br>
        <input id="password" type="password" name="password"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>